/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    overflow: hidden; 
}
header h1 {
    text-align: center;
    color: #005CAB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.logo-container {
    position: absolute; 
    left: -150px; 
    animation: moveLogo 10s ease-in-out infinite; 
}


@keyframes moveLogo {
    0% {
        transform: translateX(-100%); 
    }
    50% {
        transform: translateX(100vw); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


.logo {
    width: 150px; 
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    padding: 10px;
    width: 100%;  
}


.grid-item {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
}


.grid-link {
    text-decoration: none;  
    color: white;           
    font-size: 18px;
    display: block;         
    padding: 10px;
    background-color: #3e8e41; 
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease; 
}

.grid-item a {
    color: #FFD700;            
    text-decoration: none;   
    font-size: 18px;         
}


.grid-item a:hover {
    color: darkgoldenrod;        
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;  /* Space between grid and footer */
}
/* Styling for grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    padding: 10px;
    width: 100%;
    perspective: 1000px;  
}


.grid-item {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: transform 0.3s ease-in-out;  
}


.grid-item:hover {
    transform: rotate(20deg);  
}
iframe{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    padding-top: 280px;  
}

footer h4 {
    text-align: center;
}